header {

    margin: 0%;
    bottom:0;
    margin-bottom: 10%;


}
h1{
    color: brown;
}
main {

    margin: 5%;
    bottom: 5%;
}




footer {


    bottom:0;
    margin-bottom: -20%;

    width:99%;

}
div#anneescolaire{
    float : right;
    width: auto;
    font-size: 150%;

}
div#niveauscolaire{
    float: left;
    width: auto;
    font-size: 150%;
}
