<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <title>projet XML</title>
    <link href="css/help.css" rel="stylesheet" th:href="@{css/help.css}">

</head>

<body>
<header>

    <img align="left" width="15%" height="15%" src="images/univ.png" alt="logo de l'université" th:src="@{images/univ.png}"/>
    <img align="right" width="15%" height="15%" src="images/campus.png" alt="logo de l'université" th:src="@{images/campus.png}"/>
    <h1 align="center">Service Rest et Client </h1>
</header>
<main>
    <h2>Controllers</h2>
    <h4>XmlController</h4>
    <p>Pour afficher les articles la fonction getAllItems est attendu qui prend </br>
        rien en paramètre et retourne la listes des articles. Le résultat est affiché </br>
        en XML
    </p>
    <p>getAllItemsJson fait la même chose que getAllItems mais le résultat est en format</br>
        Json</p>
    <p>La fonction getItemById prend un paramètre qui représente l'identifiant d'un article </br>
        et retourne l'article qui correspond à cet identifiant la avec son identifiant, titre</br>
        auteur, contenu, date de publication et date de mise à jour. Le résultat est affiché </br>
        en XML
    </p>
    <P>getItemByIdJson fait la même chose que getItemById mais le résultat est en format Json</P>

    <p>Pour ajouter un article la fonction addFlux est attendu elle prend en flux </br>
        qui doit d'abord passer par un validator une fois valider il sera ajouter</br>
        à la base de données autant que fichier vide ou avec du contenu
    </p>
    <p>Pour supprimer un article de la base de données la fontion deleteItemById </br>
        est attendu qui prend en paramètre l'identifiant de l'article qu'on veut </br>
        supprimer. une fois l'article récupéré on le supprime et on retourne son </br>
        identifiant
    </p>
    <h4>HomeController</h4>
    <p>La fonction help() nous permet d'afficher la page d'aide grâce au route @getMapping </br>
        qui prend(/help) qui est accessible d'abord par la page d'acceuil et au servlet </br>
        ModelAndView.
    </p>
    <p>La fonction home() nous permet d'afficher la page d'acceuil grâce au route @getMapping </br>
        et au servlet ModelAndView.</p>
    <h4>HtmlController</h4>
    <p>La fonction getAllItems de type ModelAndView renvoie une vue de type HTML de la </br>
        liste des articles
    </p>
    <p>La fonction de getItemById de type ModelAndView qui prend un paramètre qui représente</br>
        l'identifiant d'un article et affiche dans une page html l'article qui correspond à </br>
        cet identifiant là avec son auteur, titre, date de publication, date de mise à jour </br>
        et son contenu
    </p>
    <h2>Utils</h2>

    <h4>XmlValidator</h4>
    La fonction validateXMLSchema qui prend en paramètre un flux de type XML permet de </br>
    passer ce flux en format XSD pour voir si il est conforme et le valider. dans le cas</br>
    où une exception est levée de type IOException ou SAXException un message d'exception</br>
    s'affiche et on retourne un false
    <h4>XmlParser</h4>
    <p>La fonction parseToItem prend en paramètre un flux xml et le converti en article.</br>
        si une exception de type JsonProcessingException ou IOException est levé ça retourne </br>
        un false
    </p>
    <p></p>
    <h4>FileLoader</h4>
    <p>La fonction loadFine permet de télécharger un fichier et prend un paramètre  qui sera</br>
        télécharger par resourceLoader  et à la fin converti en caractère grâce à la fonction </br>
        asString  ( j'ai pas trop compris ce que font loadfile et asString)
    </p>
    </p>
    <h2> Le côté client </h2>
    <p>Toutes les pages peuvent se redirectionner dans la page d'acceuil grâce à </p></br>
    <p>Pour afficher les articles, cliquez sur le bouton qui lui est dédié, vous serez redérigé vers le lien '/items, </br>
     unse fois dedans vous pouvez télécherger le flux xml grâce à la récupération des items sous forme d'un flux depuis  </br>
        le route server "/rss22/resume/xml" ainsi que ajouter un flux (rss22/insert) ou supprimer un existant (rss22/delete/{id}</p>
    <p>Pour afficher un article, le chemin est 'item/:id', une fois dedans, vous pouvez télécharger sous forme d'un flux xml  </br>
        (rss22/resume/xml/{id})

    </p>
    <p>Pour afficher la page help, le chemin est 'help'</p>


</main>

<input type=button onclick=window.location.href='http://localhost:4200/' value=Acceuil />

<footer>
    <div id="anneescolaire">
        <p>Année universitaire : 2021/2022</p>
    </div>
    <div id="niveauscolaire">
        <p>Master 1 Informatique - GIL</p>
    </div>
</footer>



</body>
</html>