<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>projet XML</title>
    <link href="css/home.css" rel="stylesheet" th:href="@{css/home.css}">

</head>

<body>
<header>

    <img align="left" width="15%" height="15%" src="images/univ.png" alt="logo de l'université" th:src="@{images/univ.png}"/>
    <img align="right" width="15%" height="15%" src="images/campus.png" alt="logo de l'université" th:src="@{images/campus.png}"/>
    <h1 align="center">Service Rest et Client </h1>
</header>
<main>


    <table  align="center" border="1" width="50%" cellspacing="0" cellpadding="6">
        <tr>
            <td width="50%" bgcolor="#000000"><font color="#FFFFFF">Version </font></td>
            <td width="50%" bgcolor="#000000"><font color="#FFFFFF"> Date </font></td>
        </tr>
        <tr>
            <td>1.0</td>
            <td>25 Avril 2022</td>
        </tr>
        <tr>
            <td>1.1</td>
            <td>30 Avril 2022</td>
        </tr>
        <tr>
            <td>2.0</td>
            <td>04 Mai 2022</td>
        </tr>
        <tr>
            <td>2.1 - FINAL</td>
            <td>06 Mai 2022</td>
        </tr>
    </table>

    <div id="name_container">
        <h4> <strong> Projet réalisé par :  </strong> </h4>
        <p > Dihia AZZEDINE  &  Lydia KAHOUADJI </p>

        <h4> <strong> Projet donné par : </strong></h4>
        <p > Etienne REITH  &  Stéphane HÉRAUVILLE </p>
    </div>

</main>
<footer>
    <div id="anneescolaire">
        <p> Année universitaire : 2021 - 2022</p>
    </div>
    <div id="niveauscolaire">
        <p>Master 1 Informatique - GIL</p>
    </div>

</footer>



</body>
</html>